.Reel {
  display: flex;
  overflow: hidden;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.Reel.winning {
  transform: scale(1.05);
}
