.ReelPanel {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
}

/*TODO improve this transition (maybe bezier)*/
.ReelPanel .wrapper {
  transition: margin-top 0.5s ease-in-out;
}

.slot {
  width: 100px;
  height: 100px;
}
