html {
  background: url(https://upload.wikimedia.org/wikipedia/en/8/82/Las_Vegas_slot_machines.jpg) bottom center grey;
  background-size: cover;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
